[submodule "single_service_template"]
	path = services/service_template
	url = https://github.com/tomerOko/k8s_node_template.service_template.git
	branch = master
[submodule "npm_package_template"]
	path = packages/npm_package_template
	url = git@github.com:tomerOko/k8s_node_template.npm_package_template.git
	branch = master
[submodule "test_environment"]
	path = test_environment
	url = https://github.com/tomerOko/test_environment.git
[submodule "ts_startkit"]
	path = ts_startkit
	url = https://github.com/tomerOko/ts_startkit.git
